.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  max-width: 1170px;
  margin: 0 auto;
  padding: 32px 0;

  @media (width < 768px) {
    flex-direction: column;
  }

  & > .left,
  & > .right {
    flex: 1;
  }
}

.itemHeader {
  text-align: center;
  padding: 0 88px;
  margin-bottom: 26px;

  @media (width < 768px) {
    padding: 0 22px;
  }
}
