.carousel {
  margin-bottom: 32px;
 & > ul {
  list-style: none;
  display: flex;
  justify-content: center;

  & > li {
    display: inline-block;
  }
 }
}
.container {
  max-width: 400px;
  margin: 32px auto;
}
.currentImage {
  width: 100%;
  cursor: pointer;
}
.zoom {
  text-align: center;
  user-select:none;
  cursor: pointer;
}
.smallImage {
  cursor: pointer;
  width: 65px;
  border: 1px solid transparent;
  padding: 3px;

  &[data-selected=true] {
    border-color: var(--myretail-black);
    border-radius: 3px;
  }
}
.symbol {
  font-size: 24px;
  font-weight: 100;
  display: block;
  transform: scaleY(2);
  cursor: pointer;
  margin-top: 17px;
  text-align: center;
  user-select: none;
  width: 65px;
}
.icon-zoom {
  content: ' ';
  background: url(../images/zoom.png) no-repeat top left;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}