.carousel {
 & > ul {
  list-style: none;
  & > li {
    display: inline;
  }
 }
}
.container {
  max-width: 400px;
  margin: 32px auto;
}
.currentImage {
  width: 100%;
}
.smallImage {
  cursor: pointer;
  width: 80px;
  border: 1px solid transparent;
  padding: 3px;

  &[data-selected=true] {
    border-color: var(--myretail-black);
    border-radius: 3px;
  }
}