.price {
  font-weight: 500;
  font-size: 28px;
}

.priceDescription {
  color: var(--myretail-dark-grey);
}

.top {
  padding-bottom: 32px;
}

.bottom {
  border-top: 1px solid var(--myretail-light-grey);
  border-bottom: 1px solid var(--myretail-light-grey);
  padding: 16px 0;
  margin-bottom: 32px;
}

.promo {
  color: var(--myretail-red);
  padding-bottom: 8px;
  &:last-child  {
    padding-bottom: 0;
  }
}

.mark {
  margin: 0px 3px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  display: inline-block;
}