.price {
  font-weight: 600;
  font-size: 30px;
  font-family: var(--myretail-secondary-font-family);
}

.priceDescription {
  color: var(--myretail-dark-grey);
  font-size: 12px;
}

.top {
  margin-bottom: 32px;
}

.bottom {
  border-top: 1px solid var(--myretail-grey);
  border-bottom: 1px solid var(--myretail-grey);
  padding: 16px 0;
  margin-bottom: 32px;
}

.promo {
  color: var(--myretail-red);
  margin-bottom: 8px;
  font-size: 18px;
  font-family: var(--myretail-secondary-font-family);

  &:last-child  {
    padding-bottom: 0;
  }
}

.mark {
  margin: 0px 3px 0 0;
  padding: 0;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  display: inline-block;
}